$headerTextColor: #ffffff;

md-toolbar {
	form {
		margin-top:30px;
		md-input-container {
			label {
				color: $headerTextColor !important;
			}
			input {
				color: $headerTextColor !important;
			}
			button {
				margin-top:25% !important;
			}
		}
	}
}